---
- name: Installation de paquets de base
  hosts: web
  tasks:
  - name: Installation des paquets
    apt: 
        name:
            - apache2
            - php
            - php-mysql
            - npm
            - libapache2-mod-php
            - php-json
            - php-gd
            - php-curl
            - php-mbstring
            - php-cas
            - php-xml 
            - php-cli 
            - php-imap 
            - php-ldap 
            - php-xmlrpc 
            - php-apcu   
            - php-intl
            - composer
        state: present
        autoclean: yes
  - name: Clone a repo with separate git directory
    ansible.builtin.git:
      repo: https://github.com/glpi-project/glpi.git
      dest: /var/www/html/glpi
  - name: Recursively change ownership of a directory
    ansible.builtin.file:
      path: /var/www/html/glpi
      state: directory
      recurse: yes
      owner: www-data
      group: www-data
      mode: '0755'
  - name: install dependencies
    ansible.builtin.shell: "php /var/www/html/glpi/bin/console dependencies install"
    args:
      warn: no
  - name: Restart service httpd, in all cases
    ansible.builtin.service:
      name: apache2
      state: restarted
