---
- name: Installation de paquets de base
  hosts: web
  tasks:
  - name: Installation Apache et module
    apt:
    name:
            - apache2
            - php 
            - php-mysql
            - libapache2-mod
            - php-json
            - php-gd
            - php-curl
            - php-mbstring
            - php-cas
            - php-xml 
            - php-cli 
            - php-imap 
            - php-ldap 
            - php-xmlrpc 
            - php-apcu
    state: present
    autoclean: yes
