---
- name: Installation de paquets de base
  hosts: web
  tasks:
  - name: Installation des paquets
    apt: 
        name:
            - apache2
            - php
            - php-mysql
            - libapache2-mod-php
            - php-json
            - php-gd
            - php-curl
            - php-mbstring
            - php-cas
            - php-xml 
            - php-cli 
            - php-imap 
            - php-ldap 
            - php-xmlrpc 
            - php-apcu            
        state: present
        autoclean: yes
  - name: Remove file (delete file)
    ansible.builtin.file:
      path: /var/www/html/*
      state: absent
  - name: Clone a repo with separate git directory
    ansible.builtin.git:
      repo: https://github.com/glpi-project/glpi.git
      dest: /var/www/html
