---
- name: Installation de paquets de base
  hosts: web
  tasks:
  - name: Installation des paquets
    apt: name=['apache2','php'] state=latest
    apt: 
        name:
            - apache2
            - php 
        state: present
        autoclean: yes
  - name: Installation des modules PHP
    apt:
    name:
        - php-mysql
        - libapache2-mod
        - php-json
        - php-gd
        - php-curl
        - php-mbstring
        - php-cas
        - php-xml 
        - php-cli 
        - php-imap 
        - php-ldap 
        - php-xmlrpc 
        - php-apcu
    state: present
    autoclean: yes
