---
- name: Installation de paquets de base pour GLPI
hosts: web
tasks:
    -name: Installation des paquets Web
    apt: 
    name:
        - apache2
        - php 
    state: present
    autoclean: yes
